@media (max-width:800px) {
.menubar{
    visibility: hidden;
    display: none;
}


.cardbox:nth-child(1),
.cardbox:nth-child(2),
.cardbox:nth-child(3),
.cardbox:nth-child(4){
border-radius: 30px;
width:90%;
-webkit-aspect-ratio: 1/1;
-o-aspect-ratio: 1/1;
aspect-ratio: 1/1;
aspect-ratio: 1/1;
outline:none;
color:rgb(255, 164, 255) !important;
object-fit: cover;
background:rgb(250, 255, 244);
color:black;
animation: none;
height:unset;

}
.readp,.read{
    color:black;
}

    .readp span{
color:black;
}
.readp span:nth-child(even){
color:black;
font-size: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    width:140px !important;
    height:140px !important;
    border-radius: 50% !important;

}
.say2,.say{
    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0) !important;
    opacity: 1;
    animation:none;
    height:unset
}
.say2{
    font-weight: 600;
    font-size: 30px;
    height:unset;
}
.input{transform: scale(.7);}
.footer{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: unset;

}
.footer .lists div{
    padding:3px;
}
.footer .lists{
    padding:20px;
    align-items: baseline;
}
.footer,.mission,.text-cards{
    position: unset;
    opacity: 1;

    animation:none;
}
.text-cards{
    background:white;
}

.gallery{
    display: none;
}
.options:hover,.send:hover{
    box-shadow: inset 700px 0px 0px black;
    cursor: pointer;
    color:whitesmoke;
}
.mission{
    width:100%;
    display: flex;
    flex-direction: column;
}
.readp{
    font-size: 25px;
    text-align: center;
    overflow-wrap: break-word;
}
.note{
    margin-left: -150px;
    margin-top:500px;
  
}

@keyframes grows {
    20%{
        box-shadow:
        inset 0px 0px 0px #255E3B,
        inset 0px 0px 0px #4BBC77,
        inset 0px 0px 0px #FF66C4,
        inset 0px 0px 0px #ffaee0,
        inset 0px 0px 0px #FFD0ED ;
    }
    
    40%{
        box-shadow:
        inset 0px 0px 0px #255E3B,
        inset 0px 0px 0px #4BBC77,
        inset 0px 0px 0px #FF66C4,
        inset 0px 0px 0px #ffaee0,
        inset 30px 0px 0px #FFD0ED ;
    }
    
    60%{
        box-shadow:
        inset 0px 0px 0px #255E3B,
        inset 0px 0px 0px #4BBC77,
        inset 0px 0px 0px #FF66C4,
        inset 25px 0px 0px #ffaee0,
        inset 30px 0px 0px #FFD0ED ;
    }
    
    80%{
        box-shadow:
        inset 0px 0px 0px #255E3B,
        inset 0px 0px 0px #4BBC77,
        inset 20px 0px 0px #FF66C4,
        inset 25px 0px 0px #ffaee0,
        inset 30px 0px 0px #FFD0ED ;
    }
    
    100%{
        box-shadow:
        inset 10px 0px 0px #255E3B,
        inset 30px 0px 0px #4BBC77,
        inset 20px 0px 0px #FF66C4,
        inset 25px 0px 0px #ffaee0,
        inset 30px 0px 0px #FFD0ED ;
    }
    
}

.pglogo{
    width:210px;
    border-radius: 50% 50% 50% 40%;
    height: 150px;
    object-fit: cover;
}
.titles{
    padding-left:10px;
    font-size:60px;
}
.welcome{
    background:
    linear-gradient(rgba(0, 0, 0, 0.674),rgba(0, 0, 0, 0.348),rgba(0, 0, 0, 0.348),black),
    url(./assets/group.png),
    url(./assets/back.png),
    radial-gradient(#FAFAF8, #ffaee0,#4BBC77),
    radial-gradient(rgba(0, 0, 0, 0),rgba(116, 112, 0, 0.45));
    border-radius: 0px 0px 20px 20px ;
    background-size:800px,1000px, 800px,1000px 1000px, 1000px 1000px;
    box-shadow:
    inset 0px 0px 0px #255E3B,
    inset 0px 0px 0px #4BBC77,
    inset 0px 0px 0px #FF66C4,
    inset 0px 0px 0px #ffaee0,
    inset 30px 0px 0px #FFD0ED ;
    box-shadow: none;
    animation:none;
    border-radius: 0px;
    height:60vh;

}
.readp span{
    font-size: 15px;
}
.svgmenu{
display:block;
z-index: 1000;
    transition: all 1s ease-in-out;

}
label{
    font-size: 15px;
}

#inp,.send{
    font-size: 20px;
}
.phonemenu{
    display:block;
    left:0;
    z-index: 1000;
    animation:slideout 1s ease-in-out forwards;

}
#logo{
    margin:3px;
    left:0;
    width:100px;
    height:60px;
    object-fit: cover;


}
.logobox{
    display: block;
    background:white;
    padding: 20px;
    width:100%;
    align-items: left;
    position: fixed;
    top:0;
    left:0;
    margin:0;
}
.logobox svg{
    margin-top:-50px;
}

.slidein{
    z-index: 1000;

    transition: all 1s ease-in-out;
    animation:slidein 1s ease-in-out forwards;
}
@keyframes slidein {
    0%{
        margin-left:100%;
    }
    100%{
        margin-left:0%;
    }
}

.slideout{
        z-index: 1000;
    transition: all 1s ease-in-out;
    animation:slideout 1s ease-in-out forwards;
}
@keyframes slideout {
    0%{
        margin-left:0%;
    }
    100%{
        margin-left:100%;
    }
}

}
