@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&family=Michroma&family=Playwrite+IT+Moderna:wght@100..400&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;
    transition:all .2s ease-in-out;

}
*::selection{
    background:rgb(255, 127, 127);
       
      
}
    *::-webkit-scrollbar{
    fill:none;
    background:transparent;
    width:3px;
}
:root{
    --text-color:rgb(105, 105, 105);
}

p{
    font-family: "Advent Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;

  }
body{
    background:whitesmoke;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;

}
.options:hover,.send:hover{
    box-shadow: inset 200px 0px 0px black;
    cursor: pointer;
    color:whitesmoke;
}
    .options{
    color:#eaa3ff;
    transition: all .6s ease-in-out;
    padding:6px;
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);
    font-size: 10px;
    font-weight: 300;
    border-radius: 8px;
    background:rgba(245, 245, 245, 0.1);
    width:150px;
    margin:5px;
}
.imagehold{
    display: flex;
    justify-content: center;
    align-items: center;
width:100%;
overflow: hidden;
}
.welcome h1::after{
    content:"";
    position: absolute;
    width:100px;

    bottom:0;
    border-bottom: 1.5px solid black;
}
.welcome{
    height:110vh;
    padding-top: 100px;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:
    linear-gradient(rgba(0, 0, 0, 0.674),rgba(0, 0, 0, 0.348),rgba(0, 0, 0, 0.348),black),
    url(./assets/group.png),
    url(./assets/back.png),
    radial-gradient(#FAFAF8, #ffaee0,#4BBC77),
    radial-gradient(rgba(0, 0, 0, 0),rgba(116, 112, 0, 0.45));
    background-position-x: 85%,50%;
    background-position-y: 90%,90%;
    background-attachment: fixed,fixed;
    background-repeat: no-repeat;
    background-size:cover,1500px, cover,1500px 1000px, 1000px 1000px;
    background-repeat: no-repeat;
    border-radius: 0px 0px 0% 50% ;
    box-shadow:
    inset 0px 0px 0px #FFD0ED,
    inset 0px 0px 0px #FFD0ED,
    inset 0px 0px 0px #db66ff,
    inset 0px 0px 0px #ffaee0,
    inset 60px 0px 0px #FFD0ED ;
    animation:grows 5s linear infinite;

}
@keyframes grows {
    20%{
        box-shadow:
        inset 0px 0px 0px #FFD0ED,
        inset 0px 0px 0px #FFD0ED,
        inset 0px 0px 0px #db66ff,
        inset 0px 0px 0px #ffaee0,
        inset 0px 0px 0px #FFD0ED ;
    }
    
    40%{
        box-shadow:
        inset 0px 0px 0px #FFD0ED,
        inset 0px 0px 0px #FFD0ED,
        inset 0px 0px 0px #db66ff,
        inset 0px 0px 0px #ffaee0,
        inset 60px 0px 0px #FFD0ED ;
    }
    
    60%{
        box-shadow:
        inset 0px 0px 0px #FFD0ED,
        inset 0px 0px 0px #FFD0ED,
        inset 0px 0px 0px #db66ff,
        inset 50px 0px 0px #ffaee0,
        inset 60px 0px 0px #FFD0ED ;
    }
    
    80%{
        box-shadow:
        inset 0px 0px 0px #FFD0ED,
        inset 0px 0px 0px #FFD0ED,
        inset 40px 0px 0px #db66ff,
        inset 50px 0px 0px #ffaee0,
        inset 60px 0px 0px #FFD0ED ;
    }
    
    100%{
        box-shadow:
        inset 10px 0px 0px #FFD0ED,
        inset 30px 0px 0px #FFD0ED,
        inset 40px 0px 0px #db66ff,
        inset 50px 0px 0px #ffaee0,
        inset 60px 0px 0px #FFD0ED ;
    }
    
}

.pglogo{
    width: 350px;
    margin-top:20px;
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
}

    .welcome h1{
    position: relative;
    display: flex;
    padding: 10px;
    letter-spacing: 1.5px;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 100;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 10px;
}
.menubar{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    height:45px;
    width:75%;
    border-radius: 0px 10px 10px 0px;
    backdrop-filter: blur(4rem);
    animation:returns ease-in forwards;
    animation-timeline: view();
    animation-range-start: 120vh;
    animation-range-end: 300vh;
  
}
@keyframes returns {
    0%{
        opacity:0;
    }
 
    15%{
    position:sticky;
    border-radius: 0px;
    opacity:1;
    width:100%;
    backdrop-filter: blur(4rem);
    background:rgba(255, 255, 255, 0.87);
    -webkit-backdrop-filter: blur(4rem);
    z-index: 10;
    top:0;

    }
    100%{
        position:sticky;
        border-radius: 0px;
        opacity:1;
        width:100%;
        backdrop-filter: blur(4rem);
        -webkit-backdrop-filter: blur(4rem);
        z-index: 10;
        top:0;
        background:rgb(255, 255, 255);
    }
}
.welcome p{
    letter-spacing: 2px;
    background:rgb(0, 0, 0);
    padding:20px;
    outline-offset: -15px;
    outline: 5px double white;
    color:white;
}
.footer{
    position:sticky;
    top:0px;
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);
    display:flex;
    border-top:3px solid rgba(255, 255, 255, 0.27);
    justify-content:space-around;
    align-items: center;
    background:
    radial-gradient(#0000,#57004b 55%) no-repeat,
    repeating-linear-gradient(45deg,#360044,rgb(255, 255, 255) 300px);
    background-size:2000px 2000px, 200% 100%;
    height:100vh;
}

.lists{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;

}

.topic{
    font-weight:600;
    color:white;
}

.cardbox{
height:190px;
margin:10px;
background:rgb(0, 0, 0);
background-image: url(./assets/girls.jpg);
-webkit-background-image: url(./assets/girls.jpg);
border-radius: 40px;
background-size: 1000px 600px;
-webkit-background-size: 1000px 600px;
background-position: center;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-repeat: no-repeat, no-repeat;
-webkit-background-repeat: no-repeat, no-repeat;
background-attachment: fixed,fixed;
-webkit-background-attachment: fixed,fixed;
-webkit-background-position:center top;
border:15px solid rgba(255, 255, 255, 0);


}
.cardbox:nth-child(1),
    .cardbox:nth-child(4){
    width: 30%;
    animation:lengthen ease-in forwards;
    animation-timeline: view();
    animation-range-start:-10vh;
    animation-range-end: 140vh;
}
@keyframes lengthen {
    0%,60%{
        opacity:0;
        width:0%;

    }
70%{
    opacity:0;
    width:55%;

}
    100%{
        opacity: 1;
        width:65%;

    }
}

.cardbox:nth-child(2),
    .cardbox:nth-child(3){
    width:30%;
    outline-offset:-12px;
    outline:4px double rgb(249, 168, 255);
}
.path{
    stroke-linecap: round;
    stroke:rgb(255, 255, 255);
}
.mission{
    position:sticky;
    top:0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top:100px;
    background:whitesmoke;
    margin:auto;
    width:70%;
    flex-direction: row;
    animation: unstick linear forwards;
    animation-timeline: view();
    animation-range-start: 240vh;
    animation-range-end: 270vh;
}
@keyframes unstick {
    50%{
        filter: opacity(0);

    }
    100%{
        position:unset;
        filter: opacity(0);
    }
}
.input{
    display:flex;
    background:white;
    margin-top: 20px;
    
}

.phoned{
    margin:30px auto;
    display:flex;
    align-items:center;
    justify-content: center;
    height:50px;
    text-align:center;
    width:80%;
    font-size:20px;
    
}
.phonemenu{
    position:fixed;
    top:0;
    display:none;
    height:100vh;
    width:100%;
margin-left: 100%;
    z-index:1;
    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem);

}
.svgmenu{
    position:absolute;
    margin:10px;
    right:0;
    margin:5px;
    z-index: 10;
    width:50px;
    display: none;
    height:50px;
    border-radius: 10px;
}

#inp{
    height:50px;
    width:300px;
    background:transparent;
    outline: transparent;
    border:10px solid transparent;
    padding:20px;
}
.label{
    width:150px;
    height: 50px;
    display: flex;
    justify-content: center;
    color:black;
    align-items: center;
    padding-left:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border:10px solid white;

}
.loader{
    position: fixed;
    top:0;
    overflow:hidden;
    height:100vh;

    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    linear-gradient(45deg,
    #FAFAF8,#FFD0ED);
    backdrop-filter: blur(4rem);
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -100000;

    animation:vanish 4s ease-in forwards;
}
@keyframes vanish {
    0%,70%{opacity: 1;
        z-index: 100000;

    }
    98%{
        opacity: 0;
        
    }
    100%{
        opacity: 0;
        z-index: -100000;
        display: none;
    }
}
img{
    user-select: none;
}
.load{
    width:300px;
    filter:
    drop-shadow( 0px 0px 3px black)
    drop-shadow( 0px 0px 3px black)
    drop-shadow( 0px 0px 3px black)
    drop-shadow( 0px 0px 3px black)
    drop-shadow( 0px 0px 3px black)
    drop-shadow( 0px 0px 3px black);
    animation: loads 5s linear infinite;
    transform: rotate(0deg);
    margin: auto;

}
@keyframes loads {
    100%{
        transform: rotate(360deg);
    }
}

    .send{
    width:150px;
    display: flex;
    height: 50px;
    justify-content: center;
    padding:20px;
    border:10px solid white;
    transition: all .5s ease-in-out;
    align-items: center;
    mix-blend-mode: multiply;
    background-image:
    repeating-conic-gradient(
        from 45deg,
        rgba(116, 112, 0, 0.20) 45deg 50deg,
        rgba(116, 112, 0, 0.35) 50deg 95deg
    );
    background-size:190px 500px, 10px 10px;

}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:400px
     
}

.mission p{
    width:100%;
    padding: 10px;
    color:var(--text-color);
    letter-spacing: 2px;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;

}
.read{
    display: flex;
    color:white;
    width:100%;
    padding:10px;
    justify-content: center;
    flex-direction: column;
}
.readp{
    margin:auto;
    font-size: 40px;
    padding:20px;
    color:white;
    text-align: center;

}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
    ;
}
.readp span{
color:rgba(255, 255, 255, 0.2);
background-image:
repeating-linear-gradient(45deg,white,white);
background-clip: text;
letter-spacing: 2px;
font-size:25px;
background-size: 0% 100%;
animation: scrolls linear forwards;
animation-timeline: view();
background-repeat: no-repeat;

}
.readp span:nth-child(1){
    animation-range-start: cover 0vh;
    animation-range-end: cover 30vh;

}
.readp span:nth-child(2){
    animation-range-start: cover 30vh;
    animation-range-end: cover 60vh;

}
.readp span:nth-child(3){
    animation-range-start: cover 60vh;
    animation-range-end: cover 80vh;

}

@keyframes scrolls {
    to{
        background-size: 100% 100%;
    }
}
.gallery{
    width:100%;
    background:whitesmoke;
    height: 150vh;
    overflow: hidden;
    display: flex;
}
a{
    text-decoration: none;
}
.titles{
    font-size:70px;
    color:white;
    padding:10px;
}
.text-cards{
    position: sticky;
    top:-300px;
    display: flex;
    overflow:clip;
    flex-direction: row;
    background:
    radial-gradient(#0000,#00000077 55%) no-repeat,
    repeating-linear-gradient(45deg,#360044,rgb(204, 0, 163) 700px);
    flex-wrap: wrap;
    background-attachment: fixed;
    justify-content: space-around;
    font-size: 12px;
    background-size:2000px 2000px, 200% 100%;
    align-items: center;
    height:800px;
    animation: moves 5s linear infinite;
    background-position-x:center, left;


}
@keyframes moves {
to{
    background-position-x:center, right;
}
}
.tcard{
    width:300px;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background:rgba(255, 255, 255, 0.23);
}
.note{
    color:rgb(0, 109, 0);
    width:400px;
    display: flex;
    background: lightgray;
    background-attachment: fixed;
    height:fit-content;
    border-radius: 0px 30px 30px 0px;
    text-align: right;
    margin-left: -100px;
    margin-top:775px;
  
    font-size: 12px;
    height:50px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    outline-offset: -10px;
    outline: 6px double white;
    transform: rotate(-90deg);
}
.logobox{
    position: fixed;
    display: flex;
    z-index: 1000;
    justify-content: center;
    background:transparent;
    margin:10px;
    align-items: center;
    overflow:hidden;
}

.say,.say2{
    background:linear-gradient(45deg,rgb(0, 255, 187),rgb(0, 208, 255),yellow,rgb(230, 39, 255),white);
    backdrop-filter: blur(4rem);
    background-clip: text;
    margin:10px;
    background-size: 0% 100%;
animation: scrolls linear forwards;
animation-timeline: view();
background-repeat: no-repeat;

    border-radius: 10px;
    animation-range-start:110vh;
    animation-range-end: 155vh;
    font-size: 10px;
    max-width: 90%;
    overflow: hidden;
    color:transparent !important;
}
.say2{
    color:white !important;
    font-size:10px;
    margin:auto;
}
#logo{
    width:140px;
    margin:10px;
    margin-top:50px;
}